{
  "extends": "airbnb-base",
  "rules": {
    "class-methods-use-this": "off",
    "arrow-parens": "off",
    "no-console": "off",
    "comma-dangle": "off",
    "arrow-body-style": "off",
    "operator-linebreak": "off"
  }
}
